.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot

# Sphinx stuff:
_build/

# Environments
.env
.venv
env/
venv/
ENV/
environment/

# IDE files
.idea/
*.vscode/
*.sublime-project
*.sublime-workspace
